
<p>
<%= render partial: "gizmos/gizmo", collection: family.gizmos %>
<%= link_to gizmo_svg, new_gizmo_url(:gizmo => {:family_id => @family.id}), class: "gizmo-new" %>
</p>
<p>
  <%= link_to family.name, edit_family_path(@family) %>
</p>
