<p id="notice"><%= notice %></p>

<h1><%= link_to 'families', families_path %></h1>

<div id="families">
<%= render @families, spacer_template: "_br" %>
</div>
<div>
<%= link_to gizmo_svg, new_family_path, class: "family family-new" %>
</div>
