<div id="families">
<% @families.each do |family| -%>
<%= render partial: "home/family", locals: { family: family} %>
</div>
<% end %>
<% if can?(:create, Family) -%>
<div>
<%= link_to gizmo_svg, new_family_path, class: "family family-new" %>
</div>
<% end %>
