<div id="families">
  <%- @families.each do |family| -%>
    <%= render partial: "family_and_members", locals: { family: family } %>
  <%- end -%>
</div>
<% if can?(:create, Family) -%>
<div>
  <%= link_to gizmo_svg, new_family_path, class: "family family-new" %>
</div>
<% end -%>
