// Place all the styles related to the gizmos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.gizmo-widget {
  display: inline;
}

a.gizmo, a.family {
  text-decoration: none;
}

a:hover.gizmo-new {
  background-color: default;
}

text.gizmo-name {
  text-anchor: middle;
  alignment-baseline: middle;
  fill: black;
  stroke: black;
  text-decoration: none;
}
